.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
    width: 500px;
    border-radius: 8px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main h2{
    margin: 16px;
    font-size: 20px;
}

.main span{
    margin-bottom: 16px;
    font-weight: bold;
}